[Unit]
Description=ATF Beaconing Hosts Insertion Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=86400
User=attackfence
WorkingDirectory=/opt/attackfence/donaticsInstaller/Linux/scripts/src/
ExecStart=/usr/bin/python3 /opt/attackfence/donaticsInstaller/Linux/scripts/src/beaconingHosts.py

[Install]
WantedBy=multi-user.target
