[Unit]
Description=running tshark query to insert the data in sqlite3 db
After=network.target

[Service]
Type=simple
Restart=always
RestartSec=10
User=attackfence
WorkingDirectory=/opt/attackfence/donaticsInstaller/Linux/scripts/src/
ExecStart=/opt/attackfence/donaticsInstaller/Linux/scripts/src/tsharkQuery.sh

[Install]
WantedBy=multi-user.target

