[Unit]
Description=ATF DNS Data Insertion Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=300
User=attackfence
WorkingDirectory=/opt/attackfence/Donatix/Linux/scripts/src/
ExecStart=/usr/bin/python3 /opt/attackfence/Donatix/Linux/scripts/src/analyseDNSData.py

[Install]
WantedBy=multi-user.target
